/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/


/public/
**/node_modules/**
**/function.zip

### AUTH0 ###
/auto-deploy/ansible/auth0_config.json

### LOCAL CONFIGURATION ###
/auto-deploy/ansible/include/simplyhired-hrs-eastbay-local.yml

### MAC ###
**/.DS_Store

### VsCode ###
.vscode

### Jenkins account info ###
/jenkins/conf/jenkins_jobs.ini

### Python ###
**/__pycache__/

### Marketing Page Lambda ###
lambda/marketing-page-api/Archive.zip
lambda/marketing-page-api/credentials.json

### CloudWatch Notification Lambda ###
lambda/cloudwatch-alarm-notifications/Archive.zip
