/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/


/public/
**/node_modules/**
**/function.zip

# MAC
**/.DS_Store

###VsCode###
.vscode

### Jenkins account info ###
/jenkins/conf/jenkins_jobs.ini

### Python ###
**/__pycache__/
