ORIGIN={{hrs_domain}}
GATEWAY={{proxy_domain}}
AUTH0_DOMAIN={{stack_prefix}}-{{env}}}.auth0.com
AUTH0_CLIENTID={{auth0_clientId}}
AUTH0_DATABASE={{stack_prefix}}-{{env}}}
AUTH0_CLAIM_NAMESPACE=http://easternbay.cn/
S3_ADDRESS={{S3_ADDRESS}}
S3_DOCUMENTS_ADDRESS={{S3_DOCUMENTS_ADDRESS}}
# If you add this token, users must verify it to access this website
VERIFY_TOKEN={{VERIFY_TOKEN}}
