ORIGIN={{hrs_domain}}
GATEWAY={{proxy_domain}}
AUTH0_DOMAIN={{auth0_domain}}
AUTH0_CLIENTID={{auth0_clientId}}
AUTH0_DATABASE={{auth0_database}}
AUTH0_CLAIM_NAMESPACE={{auth0_claim_namespace}}
S3_ADDRESS={{s3_address}}
S3_DOCUMENTS_ADDRESS={{s3_document_address}}
# If you add this token, users must verify it to access this website
VERIFY_TOKEN={{verify_token}}
