ORIGIN={{website_end_point}}
AUTH0_DOMAIN={{auth0_domain}}
AUTH0_CLIENT_ID={{auth0_clientId_web}}
AUTH0_AUDIENCE={{auth0_audience}}
AUTH0_DATABASE={{auth0_database}}
VERIFY_TOKEN_FOR_SIGN_UP={{registration_beta_token}}
IS_SOCIAL={{is_social_login}}
CLOUDFRONT_ADDRESS=https://{{cloudfront_stack.stack_outputs.LoginCloudFrontDomain}}/
