ORIGIN={{website_end_point}}
GATEWAY={{proxy_domain}}
AUTH0_DOMAIN={{auth0_domain}}
AUTH0_CLIENT_ID={{auth0_clientId_web}}
AUTH0_AUDIENCE={{auth0_audience}}
AUTH0_DATABASE={{auth0_database}}
AUTH0_TENANT={{auth0_tenant}}
VERIFY_TOKEN_FOR_SIGN_UP={{registration_beta_token}}
IS_SOCIAL={{is_social_login}}
H_CAPTCHA_SITE_KEY= {{h_captcha_site_key}}
CLOUDFRONT_ADDRESS=https://{{cloudfront_stack.stack_outputs.LoginCloudFrontDomain}}/
