server:
  port: 9000
  tomcat:
    max-http-post-size: -1

spring:
  thymeleaf:
    cache: false
  servlet:
    multipart:
      enabled: true
      max-file-size: 30MB
      max-request-size: 30MB

application:
  systemEmailAddress: {{system_email_address}}
  frontEndAddress: {{website_end_point}}/
  systemEmailFirstName: {{systemEmailFirstName}}
  systemEmailLastName: {{systemEmailLastName}}
  googleGeoCodingApiKey: {{google_geo_coding_api_key}}

aws:
  bucketName: {{stack_prefix}}-{{env}}-company
  folder: media

cloud:
  aws:
    region:
      auto: true

sentry:
  enable: true
  env: {{env}}
  release: mvp

financial:
  tenantId: {{ x_tenant_id }}
  tenantSecret: {{ x_tenant_secret }}
  baseUrl: {{ financial_engine_base_url }}
