ORIGIN={{website_end_point}}
GATEWAY={{proxy_domain}}
COMPANY_BUCKET={{s3_company_address}}
AUTH0_DOMAIN={{auth0_domain}}
AUTH0_CLIENT_ID={{auth0_clientId_web}}
AUTH0_DATABASE={{auth0_database}}
AUTH0_CLAIM_NAMESPACE={{auth0_namespace}}
AUTH0_AUDIENCE={{auth0_audience}}
SENTRY_ENV={{web_sentry_env}}
SENTRY_RELEASE={{web_sentry_release}}
SENTRY_DSN={{web_sentry}}
GOOGLE_MAP_API_KEY={{google_map_api_key}}
# please remove it for production
{% if enable_logging is defined and enable_logging | bool %}
ENABLE_LOGGING={{enable_logging}}
{% endif %}
SKIN={{skin}}
