server:
  port: 9001

spring:
  thymeleaf:
    cache: false

cloud:
  aws:
    region:
      auto: true

aws:
  bucketName: {{stack_prefix}}-{{env}}-document
  folder: media

application:
  systemEmailAddress: {{systemEmailAddress}}
  systemEmailFirstName: {{systemEmailFirstName}}
  systemEmailLastName: {{systemEmailLastName}}

sentry:
  enable: true
  env: {{env}}
  release: mvp

pactsafe:
  testMode: {{ pactsafe_test_mode }}

env: {{env}}
