ORIGIN={{website_end_point}}
GATEWAY={{proxy_domain}}
S3_ADDRESS={{s3_company_address}}
S3_DOCUMENTS_ADDRESS={{s3_document_address}}
COMPANY_BUCKET={{stack_prefix}}-{{env}}-company
AUTH0_DOMAIN={{auth0_domain}}
AUTH0_CLIENT_ID={{auth0_clientId_web}}
AUTH0_DATABASE={{auth0_database}}
AUTH0_CLAIM_NAMESPACE={{auth0_namespace}}
AUTH0_AUDIENCE={{auth0_audience}}
HELLO_SIGN_CLIENT_ID={{hello_sign_clientId}}
# please remove it for production
HELLO_SIGN_TEST=true
# If you add this token, users must verify it to access this website
VERIFY_TOKEN={{verify_token}}
