server:
  port: 9000

spring:
  thymeleaf:
    cache: false

application:
  systemEmailAddress: noreply@interviewed.com
  frontEndAddress: {{website_end_point}}

aws:
  bucketName: {{stack_prefix}}-{{env}}-company-test
  folder: media

cloud:
  aws:
    region:
      auto: true

auth0:
  domain: {{auth0_domain}}
  customNamespace: {{auth0_namespace}}
