ORIGIN={{website_end_point}}
GATEWAY={{proxy_domain}}
S3_ADDRESS={{s3_company_address}}
S3_DOCUMENTS_ADDRESS={{s3_document_address}}
COMPANY_BUCKET={{stack_prefix}}-{{env}}-company
AUTH0_DOMAIN={{auth0_domain}}
AUTH0_CLIENT_ID={{auth0_clientId_web}}
AUTH0_DATABASE={{auth0_database}}
AUTH0_CLAIM_NAMESPACE={{auth0_namespace}}
AUTH0_AUDIENCE={{auth0_audience}}
SENTRY_ENV={{web_sentry_env}}
SENTRY_RELEASE={{web_sentry_release}}
SENTRY_DSN={{web_sentry}}
HELLO_SIGN_CLIENT_ID={{hello_sign_clientId}}
# please remove it for production
HELLO_SIGN_TEST=true
{% if verify_token is defined and verify_token | bool %}
VERIFY_TOKEN={{verify_token}}
{% endif %}
{% if enable_logging is defined and enable_logging | bool %}
ENABLE_LOGGING={{enable_logging}}
{% endif %}
