branch-defaults:
  master:
    environment: {{stack_prefix}}-{{env}}
environment-defaults:
  {{stack_prefix}}-{{env}}:
    branch: null
    repository: null
global:
  application_name: {{stack_prefix}}-{{env}}
  default_ec2_keyname: {{key_pair}}
  default_platform: {{eb_java_platform}}
  default_region: {{region}}
  include_git_submodules: true
  instance_profile: null
  platform_name: null
  platform_version: null
  profile: null
  sc: git
  workspace_type: Application
deploy:
  artifact: ./target/app/app.zip
