AUTH0_DOMAIN: {{auth0_tenant_name}}
AUTH0_CLIENT_SECRET: {{auth0_client_secret_cli}}
AUTH0_CLIENT_ID: {{auth0_clientId_cli}}
DATABASE_HOST: {{database_host}}
DATABASE_USER: {{database_user}}
DATABASE_PASSWORD: {{database_password}}
DATABASE: {{database}}
DATABASE_PORT: {{database_port}}
